{% extends "lab12/base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/mytwitter.css">
<script src="https://code.jquery.com/jquery-3.6.3.js" 
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div class="column is-6 is-offset-3">
    <p id="curr_id" hidden="hidden">{{current_user.id}}</p>
    <h3 class="title" id="Assessment_1">แบบประเมินความเครียด</h3>
    <div class="box">
        <h3 id="Assessment_3" hidden="hidden">วันนี้ท่านได้ประเมินไปแล้ว</h3>
        <a href="{{ url_for('lab13_message') }}"hidden="hidden" id="Assessment_4">SKIP</a>
        <form method="POST" id="Assessment_2" >
            <div>วันที่ปัจจุบันคือ <span id="date"></span><span id="clock"></span></div><br>


            <table style="width:100%">
                <tr>
                    <th>ความรู็สึกที่เกิดขึ้น</th>
                    <th>แทบไม่มี</th>
                    <th>เป็นบางครั้ง</th>
                    <th>บ่อยครั้ง</th>
                    <th>เป็นประจำ</th>
                </tr>
                <tr>
                    <td>มีปัญหาการนอน นอนไม่หลับหรือนอนมาก</td>
                    <td><input type="radio" id="sleep" name="sleep" value="0" required></td>
                    <td><input type="radio" id="sleep" name="sleep" value="1" required></td>
                    <td><input type="radio" id="sleep" name="sleep" value="2" required></td>
                    <td><input type="radio" id="sleep" name="sleep" value="3" required></td>
                </tr>
                <tr>
                    <td>มีสมาธิน้อยลง</td>
                    <td><input type="radio" id="meditation" name="meditation" value="0" required></td>
                    <td><input type="radio" id="meditation" name="meditation" value="1" required></td>
                    <td><input type="radio" id="meditation" name="meditation" value="2" required></td>
                    <td><input type="radio" id="meditation" name="meditation" value="3" required></td>
                </tr>
                <tr>
                    <td>หงุดหงิด/กระวนกระวาย/ว้าวุ่นใจ</td>
                    <td><input type="radio" id="mind" name="mind" value="0" required></td>
                    <td><input type="radio" id="mind" name="mind" value="1" required></td>
                    <td><input type="radio" id="mind" name="mind" value="2" required></td>
                    <td><input type="radio" id="mind" name="mind" value="3" required></td>
                </tr>
                <tr>
                    <td>รู้สึกเบื่อ เซ็ง</td>
                    <td><input type="radio" id="boring" name="boring" value="0" required></td>
                    <td><input type="radio" id="boring" name="boring" value="1" required></td>
                    <td><input type="radio" id="boring" name="boring" value="2" required></td>
                    <td><input type="radio" id="boring" name="boring" value="3" required></td>
                </tr>
                <tr>
                    <td>ไม่อยากพบปะผู้คน</td>
                    <td><input type="radio" id="social" name="social" value="0" required></td>
                    <td><input type="radio" id="social" name="social" value="1" required></td>
                    <td><input type="radio" id="social" name="social" value="2" required></td>
                    <td><input type="radio" id="social" name="social" value="3" required></td>
                </tr>
            </table><br>
            <button class="button is-block is-info is-large is-fullwidth">SEND</button>
        </form>
    </div>
</div>
<script>
    var curr_id = document.getElementById("curr_id");
    console.log(curr_id);
    var curr_id = curr_id.innerText;
    console.log("555");
    let today = new Date().toISOString().slice(0, 10);
    document.getElementById("date").innerHTML = today;
    let data_mood = [];

    function displayTime() {
        var d = new Date();
        var hour = d.getHours(); // 0-23
        var min = d.getMinutes(); // 0-59
        var sec = d.getSeconds(); // 0-59
        var amOrPm = "AM";
        if (hour >= 12) {
            amOrPm = "PM";
        }
        if (hour > 12) {
            hour = hour - 12;
        }
        if (hour < 10)
            hour = "0" + hour;
        if (min < 10)
            min = "0" + min;
        if (sec < 10)
            sec = "0" + sec;
        document.getElementById("clock").innerHTML = " " + hour + ":" + min + ":" + sec + " " + amOrPm;
    }
    setInterval(displayTime, 1000);


    $.getJSON("/lab13/data1", function (Array_1) {
        Array_1.forEach(element => {
            let dict = {};
            if (element.owner_id == curr_id) {
                dict['date_created'] = element.date_created;
                dict['date_update'] = element.date_update;
                dict['id'] = element.id;
                dict['owner_id'] = element.owner_id;
                data_mood.push(dict);
               
            }
        });
        if (data_mood.length > 0){
            one_time();
        }
    });

    function one_time(){
        const date  = data_mood[0].date_created;
        const date_2 = new Date(date);
        let day = date_2.getDate()
        let year = date_2.getYear();
        let month = date_2.getMonth();

        let date_s  = new Date();
        let day_s = date_s.getDate();
        let year_s = date_s.getYear();
        let month_s = date_s.getMonth();

        
        if(day == day_s && year == year_s && month == month_s){
            console.log("55asdasd")
            $('#Assessment_1').attr('hidden', 'hidden');
            $('#Assessment_2').attr('hidden', 'hidden');
            $('#Assessment_3').removeAttr('hidden');
            $('#Assessment_4').removeAttr('hidden');
        }else{
            console.log("55999999d")
            $('#Assessment_1').removeAttr('hidden');
            $('#Assessment_2').removeAttr('hidden');
            $('#Assessment_3').attr('hidden', 'hidden');
            $('#Assessment_4').attr('hidden', 'hidden');
        }

    }

    console.log(data_mood);

    

    


</script>
{% endblock %}